{% extends 'base.html' %}

{% block content %}

<h1>Welcome to the webiste</h1>
<p class = "mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla sed commodi beatae, ab voluptatibus at! Id, mollitia debitis numquam repudiandae repellat fugiat sunt iste voluptatibus, libero vel ullam ut perspiciatis.
Voluptatibus ratione, aperiam illo non exercitationem reiciendis dolorum quisquam libero quod minus excepturi est distinctio obcaecati incidunt sequi tempore molestiae iure veritatis accusamus vel, temporibus dignissimos error ullam nihil. Illum.
Sunt, alias fugiat? Sequi architecto reiciendis rerum officiis praesentium laudantium corrupti. Ea accusantium harum accusamus labore nostrum aliquid recusandae ducimus expedita. Corporis maxime nostrum vero autem sunt quia sit harum.
Quo necessitatibus ex numquam delectus accusamus quidem deserunt perferendis, natus qui ducimus nostrum eos quibusdam, dolorem repellat cum eveniet quaerat dicta. Maiores corrupti facilis explicabo quidem error eligendi esse? Ut.
Nam, officiis quibusdam inventore sequi eum soluta quo repudiandae est sint sapiente odio voluptatem porro vitae aspernatur tempore modi repellat in odit! Quae eos repellendus provident sint nulla quasi repellat.</p>
<p class = "mt-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, aspernatur exercitationem. Totam, unde laboriosam maiores vel rem ipsam nesciunt repellat tenetur aut autem. Expedita sapiente optio beatae voluptatum soluta. Eaque?
Minima deserunt a velit eum pariatur nemo aliquid mollitia exercitationem atque voluptatum dignissimos amet cupiditate ipsa, tenetur magnam sapiente voluptate! Fuga, est ut? Distinctio cupiditate vitae, quisquam adipisci atque assumenda.
Maxime impedit quibusdam officia adipisci omnis inventore similique deserunt veritatis fuga, laborum ipsam quod culpa accusantium iste odit eveniet reiciendis porro perspiciatis, optio aut voluptatum ducimus. Libero eius excepturi labore.
Corrupti nesciunt voluptas nam quisquam, expedita natus temporibus quos tempora modi nulla unde recusandae aliquid fuga perspiciatis adipisci porro atque. Saepe, non cumque ad tempore veniam mollitia eaque dolorum exercitationem.
Mollitia nisi commodi nostrum fuga laboriosam fugiat rerum obcaecati! Reprehenderit quibusdam laudantium natus, eaque nesciunt voluptates, odit fuga harum temporibus tenetur quasi blanditiis perspiciatis quae! Repellat sunt placeat nihil quasi?</p>


{% endblock %}